/* Gradient background with animated effect */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: Arial, sans-serif;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

.accordian {
    width: 65%;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

.accordian .accordian-title {
    margin-bottom: 30px;
    text-align: center;
}